<header id="header">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<div class="title-subtitle">
			<h1><a [routerLink]="['/']" >{{title}}</a></h1>
			<p>{{description}}</p>

			<div class="busqueda">
				<h1>Buscar</h1>
				<p>
					<input type="text" class="search" name="search"  (input)="onChangeSearch($event.target.value)">
				</p>
			</div>

			<a class="btn btn-primary" [routerLink]="['crear-producto']" >
				Nuevo
			</a>

			<a class="btn btn-success" (click)="setStock('1')">Con Stock</a>
			<a class="btn btn-success" (click)="setStock('0')">Sin Stock</a>
			<a class="btn btn-info"    (click)="setStock('2')">Todos</a>
			<a class="btn btn-success" (click)="setSort('asc')">/\</a>
			<a class="btn btn-success" (click)="setSort('des')">\/</a>
		</div>

	<div class="clearfix"></div>
</header>

<section class="main">
	<router-outlet></router-outlet>
	<div class="clearfix"></div>
</section>
