<div class="producto-box" *ngIf='producto'>

	<h1>{{titleSection}}</h1>

	<form #formFavorito="ngForm" (ngSubmit)="onSubmit()">
		<label>Producto:</label>
		<p>
			<input type="text" name="title" #title="ngModel" [(ngModel)]="producto.title"
			required >			
		</p>

		<label>Descripción:</label>
		<p>
			<textarea type="text" name="description" #description="ngModel" [(ngModel)]="producto.description" required >
			</textarea>
		</p>

		<label>Stock:</label>
		<p>
			<input type="text" name="stock" #stock="ngModel" [(ngModel)]="producto.stock" required >
		</p>

		<input class="btn-guardar" type="submit" value="Guardar">
	</form>
</div>
